html, body{
	background-color: #00103f;
	color: white;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Manjari', sans-serif;
	scroll-behavior: smooth;
}
nav{
	display: flex;
	justify-content: space-around;
	width: 50%;
	margin: 0 auto;
	margin-top: 30px;
	align-items: center;
}
	nav a{
		text-decoration: none;
		color: white;
		transition: 0.5s;
	}
	nav a:hover{
		color: #FF6400;

	}
	.logoberangere{
	display: flex;
	justify-content: center;
	align-items: center;
	}
	#astro{
		width: 8%;
		height: 100%;
		animation: animAstro 2s;
		animation-iteration-count: infinite;
	}
	@keyframes animAstro {
		0%{
			transform: translateY(50px);
		}
		50%{
			transform: translateZ(100px);
		}
		100%{
			transform: translateY(50px);
		}
	}
#logoberangere{
	margin-top: 25px;
}
#logoberan {
	width: 35%;
}
h1{
	font-weight: 700;
}
main{
	width: 60%;
	margin: 0 auto;
	line-height: 1.5rem;
}
.orange{
	color: #FF6400;
}
article{
	margin-bottom: 50px;
}
article li{
	list-style: circle;
	width: 100%;
}
.mp3logo{
	width: 5%;
}
footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 60%;
	margin: 0 auto;
}
#website{
  text-decoration: none;
  color: white;
	transition: 0.5s;
}
#website:hover{
	color: #FF6400
}
.socialMedia{
	width: 5%;
	padding: 20px;
}
	.socialMedia img{
		width: 100%;
	}
	.socialMedia:hover{
		opacity: 0.7;
	}
